<div class="modal" tabindex="-1" role="dialog" id="jsonView">
    <div class="modal-dialog" role="document" style="width: 90%;">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">JSON Response</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="pull-right" style="margin-bottom: 10px;">
            <button class="btn btn-success" id="downloadJsonBtn">
              <i class="glyphicon glyphicon-download-alt"></i> Download JSON
            </button>
          </div>
          <div style="clear: both;"></div>
          <pre id="jsonContent" style="max-height: 500px; overflow-y: auto; background-color: #f5f5f5; border: 1px solid #ddd; padding: 10px; border-radius: 4px;"></pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>