#editor {
	width: 100%;
	height: 40vh;
	padding: 0px 19px 19px 19px;
}

.monaco-editor .monaco-editor-background {
	padding-left: 8px;
	box-sizing: border-box;
}

/* Larger action widget */
.action-widget {
	min-width: 250px !important;
}
