<footer class="footer">
  <div class="container" style="text-align: center;">
    <span class="text-muted">
    &copy; 2016 - 2025 University of Freiburg,
      <a href="https://ad.cs.uni-freiburg.de" target="_blank">Chair for Algorithms and Data Structures</a>
      </br>
      <a href="https://github.com/ad-freiburg/qlever" target="_blank">GitHub QLever code</a>, 
      <a href="https://github.com/ad-freiburg/qlever-control" target="_blank">GitHub QLever script</a>, 
      <a href="https://github.com/ad-freiburg/qlever/wiki" target="_blank">QLever Wiki</a>,
      <a href="https://github.com/ad-freiburg/qlever-ui" target="_blank">QLever UI</a>,
      <a href="https://github.com/ad-freiburg/osm2rdf" target="_blank">OpenStreetMap to RDF</a>,
      <a href="https://github.com/ad-freiburg/qlever-mapui" target="_blank">QLever Map UI</a>,
      <a href="https://ad-publications.cs.uni-freiburg.de/CIKM_sparql_autocompletion_BKKKS_2022.materials" target="_blank">QLever evaluation</a>
      </br><!-- &ndash;-->Publications:
      <a
      href="https://ad-publications.cs.uni-freiburg.de/CIKM_qlever_BB_2017.pdf" target="_blank">SPARQL+Text</a>,
      <a href="https://ad-publications.cs.uni-freiburg.de/CIKM_sparql_autocompletion_BKKKS_2022.pdf" target="_blank">SPARQL Autocompletion</a>,
      <a href="https://ad-publications.cs.uni-freiburg.de/SIGSPATIAL_osm2rdf_BBKL_2021.pdf" target="_blank">SPARQL OpenStreetMap</a>,
      <a href="https://ad-publications.cs.uni-freiburg.de/student-projects/qlever-ui" target="_blank">QLever UI</a>
    </span>
    <br><br>
  </div>
</footer>
