<footer class="footer">
  <div class="container" style="text-align: center;">
    <span class="text-muted">
    &copy; 2016 - 2021 University of Freiburg,
      <a href="https://ad.cs.uni-freiburg.de" target="_blank">Chair for Algorithms and Data Structures</a>
      </br>GitHub:
      <a href="https://github.com/ad-freiburg/QLever" target="_blank">The QLever SPARQL Engine</a>, 
      <a href="https://github.com/ad-freiburg/qleverUI" target="_blank">QLever UI</a>,
      <a href="https://github.com/ad-freiburg/qlever-mapui" target="_blank">QLever Map UI</a>,
      <a href="https://github.com/ad-freiburg/qlever-evaluation" target="_blank">QLever evaluation</a>
      &ndash; Publications:
      <a
      href="https://ad-publications.cs.uni-freiburg.de/CIKM_qlever_BB_2017.pdf" target="_blank">SPARQL+Text</a>,
      <a href="https://ad-publications.cs.uni-freiburg.de/student-projects/qlever-ui" target="_blank">QLever UI</a>,
      <a href="https://ad-publications.cs.uni-freiburg.de/ARXIV_sparql_autocompletion_BKKKS_2021.pdf" target="_blank">SPARQL Autocompletion</a>
    </span>
    <br><br>
  </div>
</footer>