<form method="POST">
{% csrf_token %}
<div class="modal" tabindex="-1" role="dialog" id="settingsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">UI Settings</h5>
        </div>
        <div class="modal-body">
          <h4>Developer Logging</h4>
          <p>Logs are generated and written in the default developer console of your browser.</p>
            <div class="checkbox"><label><input name="logParsing" id="logParsing" type="checkbox" {% if request.session.logParsing == "on" %}checked="checked"{% endif %}> Log parsing</label></div>
            <div class="checkbox"><label><input name="logRequests" id="logRequests" type="checkbox" {% if request.session.logRequests == "on"  %}checked="checked"{% endif %}> Log requests</label></div>
            <div class="checkbox"><label><input name="logSuggestions" id="logSuggestions" type="checkbox" {% if request.session.logSuggestions == "on"  %}checked="checked"{% endif %}> Log suggestions</label></div>
            <div class="checkbox"><label><input name="logOther" id="logOther" type="checkbox" {% if request.session.logOther == "on"  %}checked="checked"{% endif %}> Log UI events</label></div>
          <br>
          <h4>Editor settings</h4>
          <div class="form-group">
              <label for="whitespaces" style="font-weight: normal;">Forced amount of whitespaces per scope</label>
              <input type="number" class="form-control" name="whitespaces" id="whitespaces" value="{% if request.session.whitespaces %}{{ request.session.whitespaces }}{% else %}2{% endif %}" style="width: 200px;" min="0">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input class="btn btn-success" type="submit" value="Save changes">
        </div>
    </div>
  </div>
</div>
</form>

<div class="modal" tabindex="-1" role="dialog" id="visualisation">
    <div class="modal-dialog" role="document" style="width: 80%;">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title pull-left">Query Analysis</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div id="result-query"></div>
              <div id="result-tree">
                <br><strong style="color: red;">Please execute your query first.</strong><br><br>
              </div>
          </div>
          <div class="modal-footer">
            <div id="lastQueries" class="pull-left" style="margin: -25px 0px;"></div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="share">
  <div class="modal-dialog" role="document" style="width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Share your query</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <label>Short URL</label>
          <div class="input-group">
            <input type="text" id="prettyLink" class="form-control" readonly>
            <span class="input-group-btn">
              <button class="btn btn-default copy-clipboard-button">
                <i class="glyphicon glyphicon-copy"></i> Copy
              </button>
            </span>                    
          </div>
          <div class="ok-text collapse">
              <i class="glyphicon glyphicon-ok"></i> Copied link to clipboard
          </div>
        </div>
        <br>
        <div>
          <label>As querystring</label>
          <div class="input-group">
            <input type="text" id="queryStringLink" class="form-control" readonly>
            <span class="input-group-btn">
              <button class="btn btn-default copy-clipboard-button">
                <i class="glyphicon glyphicon-copy"></i> Copy
              </button>
            </span>
          </div>
          <div class="ok-text collapse">
            <i class="glyphicon glyphicon-ok"></i> Copied link to clipboard
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>