{% extends "admin/base.html" %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block extrahead %}{{ block.super }}
<style>
	.module h2, .module caption, .inline-group h2 { background: #969696; }
	#header { background: #262626; color: #82B36F; }
	#branding h1, #branding h1 a:link, #branding h1 a:visited, a:link, a:visited { color: #82B36F; }
	div.breadcrumbs { background-color: #969696; color: white; }
	.button, input[type=submit], input[type=button], .submit-row input, a.button { background: #969696; }
	.submit-row input.default { background: #82B36F; }
	label, label.required { color: #82B36F; }
</style>{% endblock %}
{% block branding %}
<a class="navbar-brand" href="/" style="color: rgb(157, 157, 157); font-size: 1.3em;"><i class="glyphicon glyphicon-flash"></i> QLever UI &nbsp; - &nbsp; Administration</a>
{% endblock %}