{% load static %}<!DOCTYPE html>
<html>
  {% include 'partials/head.html' %}
  <body {% if request.GET.exec %}onload="window.setTimeout(function(){ $('#exebtn').trigger('click');},500)"{% endif %}>
    {% include 'partials/header.html' %}
      <div id="main" class="container">
        {% if backends %}
          <div class="btn-group" role="group">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              <i class="glyphicon glyphicon-flash"></i>
              <span class="d">
                {% if backend %}{{ backend.name }}{% else %}Choose backend{% endif %}
              </span>
              <span class="caret"></span>
            </button>
              <ul class="dropdown-menu">
                  {% for b in backends|dictsort:"sortKey" %}
                  {% if b.sortKey != "0" %}
                  <li>
                      <a href="/{{ b.slugify }}">{% if backend.pk == b.pk %}<i class="glyphicon glyphicon-ok"></i> {% endif %}{{ b.name }}</a>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% if request.user.is_authenticated %}
                  <li class="divider"></li>
                  <li>
                      <a href="/admin/backend/backend/add/" target="_blank">
                          <i class="glyphicon glyphicon-edit"></i> Add new backend
                      </a>
                  </li>
                  {% endif %}
              </ul>
          </div>
            
          <!-- The theme / help block -->
          <div class="pull-right">
              <div class="btn-group" role="group" >
                  <button onclick="$('#stats').slideToggle();$('#bStats').hide();" class="btn btn-default" id="statsButton">
                      <i class="glyphicon glyphicon-stats"></i> <span class="d">Loading information...</span>
                  </button>
                  <button onclick="$('#bStats').slideToggle();$('#stats').hide();" class="btn btn-default">
                      <i class="glyphicon glyphicon-cog"></i> <span class="d">Backend Information</span>
                  </button>
                  <button class="btn btn-default" onclick="expandEditor();" id="helpButton">
                      <i class="glyphicon glyphicon-question-sign"></i> <span class="d">Shortcuts / Help</span>
                  </button>
              </div>
          </div>
      
          <br><br>
                
          <!-- The backend statistics block -->
          <div id="stats" class="well">
            <br>
            <div class="row">
              <div class="col-md-6">
                <h4>Knowledge base index</h4>
                <br>
                <table class="table">
                  <tr><th>Description</th><td><b><span id="kbname"></span></b></td></tr>
                  <tr><th>Statistics</th><td>Number of triples: <b><span id="ntriples"></span></b><br><div id="kbstats"></div></td></tr>
                </table>
              </div>
              <div class="col-md-6">
                <h4>Fulltext index</h4>
                <br>
                <table class="table">
                  <tr><th>Description</th><td><b><span id="textname"></span></b></td></tr>
                  <tr><th>Statistics</th><td>
                    Number of distinct text records: <b><span id="nrecords"></span></b><br>
                    Number of distinct word occurrences: <b><span id="nwo"></span></b><br>
                    Number of distinct entity occurrences: <b><span id="neo"></span></b>
                  </td></tr>
                </table>
              </div>
            </div>
          </div>
          <div id="bStats" class="well" style="display: none;">
            {% if request.user.is_authenticated %}<a href="/admin/backend/backend/{{ backend.pk }}/change/" class="btn btn-default pull-right" target="_blank"><i class="glyphicon glyphicon-edit"></i> Edit this backend</a>{% endif %}
            <br>
            <div class="row">
              <div class="col-md-6">
                <h4>Basic settings</h4>
                <br>
                <table class="table">
                    <tr><th>Backend name</th><td>{{ backend.name }}</td></tr>
                    <tr><th>Backend slug</th><td id="backend-slug">{{ backend.slugify }}</td></tr>
                    <tr><th>Backend URL</th><td>{{ backend.baseUrl }}</td></tr>
                    <tr><th>Is default:</th><td>{% if backend.isDefault %}Yes{% else %}No{% endif %}</td></tr>
                    <tr><th>Fill known prefixes:</th><td>{% if backend.fillPrefixes %}Yes{% else %}No{% endif %}</td></tr>
                    <tr><th>Languages:</th><td>{{ backend.filteredLanguage }}</td></tr>
                    <tr><th>Default maximum</th><td><span id="maxSendOnFirstRequest">{{ backend.maxDefault }}</span> rows</td></tr>
                    <tr><th>Default mode:</th><td> {% if backend.dynamicSuggestions == 0 %}1. SPARQL syntax & keywords only{% elif backend.dynamicSuggestions == 1 %}2. SPARQL & context insensitive entities{% else %}3. SPARQL & context sensitive entities{% endif %}</td></tr>
                    <tr>
                        <th>Access Token</th>
                        <td><input class="form-control" type="text" id="access_token" placeholder="Access Token"/>
                            <div id="backend_commands" style="display: none">
                                <button id="btnClearDeltaTriples" class="btn btn-default"
                                        onclick="executeBackendCommand('clear-delta-triples', this)"><i
                                        class="glyphicon glyphicon-refresh"></i> Clear Delta Triples
                                </button>
                                <button id="btnClearCacheComplete" class="btn btn-default"
                                        onclick="executeBackendCommand('clear-cache-complete', this)"><i
                                        class="glyphicon glyphicon-refresh"></i> Clear Cache (Complete)
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
              </div>
              <div class="col-md-6" style="word-break: break-all;">
                <h4>Features</h4>
                <br>
                <table class="table">
                  <tr><th><strong>Supported Keywords:</strong></th><td><div style="margin-left: 20px;"><b><small><code>{{ backend.supportedKeywords }}</code></b></div></td></tr>
                  <tr><th><strong>Supported Functions:</strong></th><td><div style="margin-left: 20px;"><b><small><code>{{ backend.supportedFunctions }}</code></b></div></td></tr>
                </table>
              </div>
            </div>
          </div>
          
          <!-- The query block -->
          <div class="well" id="queryBlock">
            <div class="row">
              <div id="editorArea" class="col-md-12">
                <!-- The main editor (code mirror textarea) -->
                <textarea id="query" class="form-control" placeholder="Start by typing SELECT or PREFIX ...">{% if prefill and not request.GET.test %}{{ prefill }}{% endif %}</textarea><br>
              </div>
              <div class="col-md-4" id="help" style="display:none;">
                <div id="uiHelp">  
                  <!-- The UI help box -->
                  <h4 style="margin-top: 0px;">QLever UI Shortcuts:</h4>
                  <table class="table" style="margin-bottom: 9px;">
                    <tr>
                      <td><kbd>ctrl</kbd> + <kbd>enter</kbd></td>
                      <td><em>Send query to backend</em></td>
                    </tr>
                    <tr>
                      <td><kbd>tab</kbd></td>
                      <td><em>Jump to the next placeholder</em></td>
                    </tr>
                    <tr>
                      <td><kbd>ctrl</kbd> + <kbd>space</kbd></td>
                      <td><em>Invoke auto suggestions</em></td>
                    </tr>
                    <tr>
                      <td><kbd>&#9650;</kbd> or <kbd>&#9660;</kbd></td>
                      <td><em>Move through suggestions</em></td>
                    </tr>
                    <tr>
                      <td><kbd onclick="$()">enter</kbd></td>
                      <td><em>Choose the selected suggestion</em></td>
                    </tr>
                    <tr>
                      <td><kbd>esc</kbd></td>
                      <td><em>Close suggestion window</em></td>
                    </tr>
                    <tr>
                      <td><kbd>ctrl</kbd> + <kbd>f</kbd></td>
                      <td><em>Search in editor (supports RegEx)</em></td>
                    </tr>
                    <tr>
                      <td><kbd>ctrl</kbd> + <kbd>r</kbd></td>
                      <td><em>Search and replace in editor</em></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-md-9">
                  
                <div class="row">
                  <div class="col-md-12 buttonFlex">
                    <!--
                      The run button. Note: min-width keeps the same width regardless
                      of the label (Execute, Cancel or Cancelling)
                    -->
                    <button id="exebtn" class="btn btn-success" style="min-width: 7.857em;">
                      <i class="glyphicon glyphicon-refresh"></i> <span>Execute</span>
                    </button>

                    <!-- The download buttons -->
                    <div class="btn-group" role="group">
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                          <i class="glyphicon glyphicon-download"></i> Download
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" id="csvbtn" href="#csv">
                            <i class="glyphicon glyphicon-file"></i> Download results as CSV
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" id="tsvbtn" href="#tsv">
                            <i class="glyphicon glyphicon-file"></i> Download results as TSV
                          </a>
                        </li>
                      </ul>
                    </div>

                    <!-- The share button -->
                    <button id="sharebtn" class="btn btn-default">
                      <i class="glyphicon glyphicon-share-alt"></i> Share
                    </button>
                    
                    <!-- The context setting buttons -->
                    <div class="btn-group" role="group" style="margin-left:auto;">
                    <button id="formatButton" class="btn btn-default">
                      <i class="glyphicon glyphicon-align-left"></i> Format
                    </button>
                      <button class="btn btn-default" onclick="executeBackendCommand('clear-cache', this)">
                        <i class="glyphicon glyphicon-refresh"></i> Clear cache
                      </button>
                      <button class="btn btn-default" onclick="showQueryPlanningTree();">
                        <i class="glyphicon glyphicon-object-align-vertical"></i> Analysis
                      </button>
                      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-align-left"></i> Examples
                        <span class="caret"></span>
                      </button>
                      <ul id="exampleList" class="dropdown-menu">
                        <div style="padding: 10px 20px;">
                          <input id="exampleKeywordSearchInput" type="text" placeholder="search for keywords" style="width: 100%"> </input>
                        </div>
                        <li class="divider"></li>
                        {% for example in examples %}
                          <li>
                            <a onclick="example=1;editor.setValue(examples[{{ forloop.counter0 }}]);editor.focus()">
                              {% if request.user.is_authenticated %}
                              <span onclick="window.open('/admin/backend/example/{{ example.pk }}/change/','_blank');" style="float: right;">
                                <i class="glyphicon glyphicon-pencil"></i>
                              </span>
                              {% endif %}
                              <span class="example-name" style="margin-right: 30px">{{ example.name }}</span>
                            </a>
                          </li>
                        {% endfor %}
                        <li id="empty-examples-excuse" style="display: none">
                              <span style="padding: 3px 20px;">Sorry, no examples found :(</span>
                        </li>
                        {% if request.user.is_authenticated %}
                          <li class="divider"></li>
                          <li>
                            <a onclick="window.open('/admin/backend/example/add/?backend={{ backend.pk }}&query='+encodeURIComponent(editor.getValue()),'_blank');">
                              <i class="glyphicon glyphicon-check"></i> Add current query as example
                            </a>
                          </li>
                          <li>
                            <a href="/admin/backend/example/add/?backend={{ backend.pk }}" target="_blank">
                              <i class="glyphicon glyphicon-edit"></i> Add new example
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <select class="form-control" id="dynamicSuggestions">
                  <option value="0" {% if backend.dynamicSuggestions == 0 %}selected="selected"{% endif %}>
                    1. Syntax & keywords only
                  </option>
                  <option value="1" {% if backend.dynamicSuggestions == 1 %}selected="selected"{% endif %}>
                    2. Context insensitive suggestions
                  </option>
                  <option value="2" {% if backend.dynamicSuggestions == 2 %}selected="selected"{% endif %}>
                    3. Context sensitive suggestions
                  </option>
                  <option value="3" {% if backend.dynamicSuggestions == 3 %}selected="selected"{% endif %}>
                    4. Mixed mode
                  </option>
                </select>
             </div>

                <div class="col-md-3 col-md-offset-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="name_service"> Automatically add names to result
                        </label>
                    </div>
                    <div class="checkbox" style="display: none">
                        <label>
                            <input type="checkbox" id="clear"> Clear the cache before every request
                        </label>
                    </div>
                </div>
            </div>
          </div>

          <div class="alert alert-danger" style="display: none">
            <button type="button" class="close" aria-label="Close" onclick="$(this).parent().hide()" style="margin-top: -10px;">
              <span aria-hidden="true">&times;</span>
            </button>
            <div id="suggestionErrorBlock"></div>
          </div>
      
          <!-- The loading block -->
          <div class="alert alert-success" id="infoBlock" style="display: none; text-align: center;">
            <img src="{% static "img/loader.gif" %}"><br><br>
            <h4 id="info"></h4>
          </div>

          <div class="alert alert-warning" id="warningBlock" style="display: none">
            <button type="button" class="close" onclick="$('#warningBlock').hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div id="warningReason"><h3>Warning:</h3></div>
          </div>
      
          <!-- The answer block -->
          <div class="well" id="answerBlock" style="display: none">
            <div class="pull-left">
              <h3>Query results:</h3>
            </div>
            <div class="btn-group pull-right" role="group">
              <button class="btn btn-default disabled">
                <i class="glyphicon glyphicon-list"></i> <span id="resultSize"></span> <span class="d">lines found</span>
              </button>
              <button class="btn btn-default disabled">
                <i class="glyphicon glyphicon-time"></i> <span id="totalTime"></span> <span class="d">in total</span>
              </button>
              <button class="btn btn-default disabled">
                <i class="glyphicon glyphicon-cog"></i> <span id="computationTime"></span> <span class="d">for computation</span>
              </button>
              <button class="btn btn-default disabled">
                <i class="glyphicon glyphicon-transfer"></i> <span id="jsonTime"></span> <span class="d">for resolving and sending</span>
              </button>
            </div>
            <br><br>

            <!-- The main answer table -->
            <div id="answer"></div>
            <div style="overflow-x: scroll; margin-top: 2em;">
              <table id="resTable" class="table table-striped">
                <thead class="thead-dark"></thead>
                <tbody></tbody>
              </table>
            </div>
              
          </div>
      
          <div class="alert alert-danger" id="errorBlock" style="display: none">
            <div id="errorReason"><h3>Error:</h3></div>
          </div>

            <div class="alert alert-success" id="updatedBlock" style="display: none">
                <p id="updateMetadata">Update successful!</p>
            </div>

          {% comment %}
              Comment this in in to re-enable the cheat sheet, disabled 2019
              {% include 'partials/help.html' %}
          {% endcomment %}

      {% else %}
  
        {% comment %}
            The error page when no backend is available
        {% endcomment %}
        <br><br><br>
        <div style="text-align: center">
          <i class="glyphicon glyphicon glyphicon-exclamation-sign" style="font-size: 7em;"></i>
          <br><br><br>
          <strong>You need to <a href="/admin/">configure</a> a QLever backend first.</strong>
        </div>
        <br><br><br>

      {% endif %}
    </div>
    {% include 'partials/modals.html' %}
    {% include 'partials/footer.html' %}
  </body>
</html>
