<!DOCTYPE html>
<html>
    <head>
        <title>QLever UI - SPARQL+Text Engine</title>
        <meta charset="utf-8"/>
    
        <!-- The stylesheets for this page -->
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    
        <!-- Own CSS Code for the UI  -->
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/codemirror.css">
    
        <!-- Bootstraps CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- The basic jQuery library & jQuery UI library -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
        <!-- Bootstraps JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
        <!-- Our own JavaScript code for this demo -->
        <script src="/static/js/script.js"></script>
    
        <!-- CodeMirror and it's modules and language mode -->
        <script src="/static/js/codemirror/codemirror.js"></script>
        <script src="/static/js/codemirror/modules/autocomplete.js"></script>
        <script src="/static/js/codemirror/modules/active-line.js"></script>
        <script src="/static/js/codemirror/modules/show-hint.js"></script>
    
        <script src="/static/js/codemirror/modes/sparql/sparql.js"></script>
        <script src="/static/js/codemirror/modes/sparql/sparql-hint.js"></script>
    
        {% if request.GET.test %}
            <!-- Jasemine JS Testing Framework -->
            <link rel="shortcut icon" type="image/png" href="/static/tests/jasmine/lib/jasmine-2.8.0/jasmine_favicon.png">
            <link rel="stylesheet" type="text/css" href="/static/tests/jasmine/lib/jasmine-2.8.0/jasmine.css">
    
            <script type="text/javascript" src="/static/tests/jasmine/lib/jasmine-2.8.0/jasmine.js"></script>
            <script type="text/javascript" src="/static/tests/jasmine/lib/jasmine-2.8.0/jasmine-html.js"></script>
            <script type="text/javascript" src="/static/tests/jasmine/lib/jasmine-2.8.0/boot.js"></script>
            <script type="text/javascript" src="/static/tests/interface.js"></script>
        {% endif %}
    </head>

    <body>
        <header>
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
                <div class="container">
                    
                    <!-- Navbar header -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-flash"></i> QLever UI</a>
                    </div>
                    
                    <!-- Navbar -->
                    <div id="navbar" class="navbar-collapse collapse">
                      <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              Resources <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                             
                            <!-- Dropdown navigation part -->
                            {% if request.user.is_authenticated %}
                            <h6 class="dropdown-header">Internal Documents</h6>
                                <li>
                                    <a href="http://ad-wiki.informatik.uni-freiburg.de/teaching/BachelorAndMasterProjectsAndTheses/SparqlTextUI" target="_blank">
                                        <i class="glyphicon glyphicon-eye-close"></i>  Project Description
                                    </a>
                                </li>
                                <li>
                                    <a href="https://docs.google.com/document/d/1gy3z3UkyicYaF75ZXsxTEzS8c28hPTFa6dQU6Y0dj0o/edit" target="_blank">
                                        <i class="glyphicon glyphicon-eye-close"></i>  Google Doc
                                    </a>
                                </li>
                            {% endif %}
                            
                            <h6 class="dropdown-header">QLever UI Components</h6>
                                <li>
                                    <a href="/admin/" target="_blank">
                                        <i class="glyphicon glyphicon-cog"></i>&nbsp; QLever UI Admin
                                    </a>
                                </li>
                                <li>
                                    <a href="/api/share?cleanup=true">
                                        <i class="glyphicon glyphicon-trash"></i>&nbsp; Clear History
                                    </a>
                                </li>
                                <li>
                                    <a href="?test=jasmine">
                                        <i class="glyphicon glyphicon-play"></i>&nbsp; Run UI Tests
                                    </a>
                                </li>
                            
                            <h6 class="dropdown-header">Other Resources</h6>
                                <li>
                                    <a href="http://ad-publications.informatik.uni-freiburg.de/CIKM_qlever_BB_2017.pdf" target="_blank">
                                        <i class="glyphicon glyphicon-folder-open"></i>&nbsp; QLever Publication
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/ad-freiburg/QLever" target="_blank">
                                        <i class="glyphicon glyphicon-download-alt"></i>&nbsp; QLever on GitHub
                                    </a>
                                </li>
                                <li>
                                    <a href="http://ad-publications.informatik.uni-freiburg.de/student-projects/qlever-ui/" target="_blank">
                                        <i class="glyphicon glyphicon glyphicon-tasks"></i>&nbsp; QLever UI Website
                                    </a>
                                </li>
                            
                            <h6 class="dropdown-header">Version</h6>
                                <li><a href="">Revision {{ STATIC_VERSION }}</a></li>
                            
                          </ul>
                        </li>
                      </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <!-- Main container -->
        <div id="main" class="container">
            
        {% if backends %}
        
            <!-- The backends block -->
            <div class="btn-group" role="group" >
                <button onclick="$('#stats').toggle();" class="btn btn-default" id="statsButton">
                    <i class="glyphicon glyphicon-stats"></i> Loading information...
                </button>
                <div class="btn-group" role="group">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        {% if backend %}{{ backend.name }}{% else %}Choose backend{% endif %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for b in backends %}
                        <li>
                            <a href="/{{ b.slugify }}">{% if backend.pk == b.pk %}<i class="glyphicon glyphicon-ok"></i> {% endif %}{{ b.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                 </div>
            </div>
        
            <!-- The theme / help block -->
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-default" onclick="changeTheme();">
                        <i class="glyphicon glyphicon-adjust"></i> Switch theme
                    </button>
                    <button class="btn btn-default" onclick="expandEditor();">
                        <i class="glyphicon glyphicon-question-sign"></i> Help
                    </button>
                </div>
            </div>
        
            <br><br>
            
            <!-- The backend statistics block -->
            <div id="stats" class="well">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Knowledge base index</h4>
                        <div>
                            <span id="kbname"></span><br>
                            <span id="ntriples"></span>
                        </div>
                        <div id="permstats"></div>
                        <div id="kbstats"></div>
                        <br>
                        <div id="subjectName"></div>
                        <div id="predicateName"></div>
                        <div id="objectName"></div>
                    </div>
                    <div class="col-md-6">
                        <h4>Fulltext index</h4>
                        <div>
                            <span id="textname"></span><br>
                            <span id="nrecords"></span><br>
                            <span id="nwo"></span><br>
                            <span id="neo"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- The query block -->
            <div class="well" id="queryBlock">
                <div class="row">
                    <div class="col-md-8">
                        <!-- The main editor (code mirror textarea) -->
                        <textarea id="query" class="form-control">{% if prefill %}{{ prefill }}{% endif %}</textarea><br>
                    </div>
                     <div class="col-md-4" id="help" style="margin-top: 310px;">
                        <div id="uiHelp" style="display: none;">
                            
                            <!-- The UI help box -->
                            <h4 style="margin-top: 0px;">QLever UI Help:</h4>
                            <table class="table" style="margin-bottom: 9px;">
                                <tr>
                                    <td><kbd>ctrl</kbd> + <kbd>space</kbd></td>
                                    <td><em>Invoke auto suggestions</em></td>
                                </tr>
                                <tr>
                                    <td><kbd>ctrl</kbd> + <kbd>enter</kbd></td>
                                    <td><em>Send query to backend</em></td>
                                </tr>
                                <tr>
                                    <td><kbd>&#9650;</kbd> or <kbd>&#9660;</kbd></td>
                                    <td><em>Search through suggestions</em></td>
                                </tr>
                                <tr>
                                    <td><kbd onclick="$()">enter</kbd></td>
                                    <td><em>Chose the selected suggestion</em></td>
                                </tr>
                                <tr>
                                    <td><kbd>esc</kbd></td>
                                    <td><em>Close suggestion window</em></td>
                                </tr>
                                <tr>
                                    <td><kbd>tab</kbd></td>
                                    <td><em>Jump to the next placeholder</em></td>
                                </tr>
                            </table>
                            
                        </div>
                    </div>
                    <div class="col-md-8">
                        
                        <!-- The run button -->
                        <button id="runbtn" class="btn btn-success">
                            <i class="glyphicon glyphicon-refresh"></i> Show results
                        </button>
                        
                        <!-- The download buttons -->
                        <div class="btn-group" role="group">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-download"></i> Download
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" id="csvbtn" href="#csv">
                                        <i class="glyphicon glyphicon-file"></i> Download results as CSV
                                       </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="tsvbtn" href="#tsv">
                                        <i class="glyphicon glyphicon-file"></i> Download results as TSV
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <!-- The context setting buttons -->
                        <div class="btn-group pull-right" role="group">
                            <button class="btn btn-default" onclick="window.location=location.protocol + '//' + location.host">
                                <i class="glyphicon glyphicon-trash"></i> Reset
                            </button>
                            <button class="btn btn-default" onclick="processQuery('?cmd=clearcache',false,this);">
                                <i class="glyphicon glyphicon-refresh"></i> Clear cache
                            </button>
                            
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-align-left"></i> Examples
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                {% for example in examples %}
                                    <li>
                                        <a onclick="example=1;editor.setValue(examples[{{ forloop.counter0 }}]);">
                                            {{ example.name }}
                                            {% if request.user.is_authenticated %} &nbsp; 
                                            <span onclick="window.open('/admin/backend/example/{{ example.pk }}/change/','_blank');">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                            </span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                                {% if request.user.is_authenticated %}
                                    <li class="divider"></li>
                                    <li>
                                        <a onclick="window.open('/admin/backend/example/add/?backend={{ backend.pk }}&query='+encodeURI(editor.getValue()),'_blank');">
                                            <i class="glyphicon glyphicon-check"></i> Add current query as example
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/admin/backend/example/add/?backend={{ backend.pk }}" target="_blank">
                                            <i class="glyphicon glyphicon-edit"></i> Add new example
                                        </a>
                                    </li>
                                  {% endif %}
                            </ul>
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="dynamicSuggestions">
                            <option value="0" {% if backend.dynamicSuggestions == 0 %}selected="selected"{% endif %}>
                                1. SPARQL syntax & keywords only
                            </option>
                            <option value="1" {% if backend.dynamicSuggestions == 1 %}selected="selected"{% endif %}>
                                2. SPARQL & context insensitive entities
                            </option>
                            <option value="2" {% if backend.dynamicSuggestions == 2 %}selected="selected"{% endif %}>
                                3. SPARQL & context sensitive entities
                            </option>
                        </select>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="clear"> Clear the cache before every request
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- The info block -->
            <div class="alert alert-success" id="infoBlock" style="display: none; text-align: center;">
                <img src="/static/img/loader.gif"><br><br>
                <h4 id="info"></h4>
            </div>
        
            <!-- The answer block -->
            <div class="well" id="answerBlock" style="display: none">
                <h3 class="pull-left">Query results:</h3>
                <div class="btn-group pull-right" role="group">
                    <button class="btn btn-default disabled">
                        <i class="glyphicon glyphicon-list"></i> <span id="resultSize"></span> lines found
                    </button>
                    <button class="btn btn-default disabled">
                        <i class="glyphicon glyphicon-time"></i> <span id="totalTime"></span> in total
                    </button>
                    <button class="btn btn-default disabled">
                        <i class="glyphicon glyphicon-cog"></i> <span id="computationTime"></span> for computation
                    </button>
                    <button class="btn btn-default disabled">
                        <i class="glyphicon glyphicon-transfer"></i> <span id="jsonTime"></span> for resolving and sending
                    </button>
                </div>
                <br><br><br>
                
                <!-- The main answer table -->
                <div id="answer"></div>
                <div style="overflow-x: scroll;">
                    <table id="resTable" class="table table-striped">
                        <thead class="thead-dark"></thead>
                        <tbody></tbody>
                    </table>
                </div>
                
            </div>
        
            <!-- The error block -->
            <div class="alert alert-danger" id="errorBlock" style="display: none">
                <div id="errorReason"><h3>Error:</h3></div>
            </div>
        
            <!-- The cheat sheet block -->
            <div class="well">
                <i class="glyphicon glyphicon-minus pull-right" onclick="$('#cheatsheet').slideToggle()" style="font-size: 1.5em;" data-toggle="tooltip" title="Slide in / slide out"></i>
                <h3>Cheatsheet:</h3>
                <div id="cheatsheet">
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="nav nav-pills nav-stacked" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#template" aria-controls="template" role="tab" data-toggle="tab">
                                        Basic template
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#suggestion" aria-controls="suggestion" role="tab" data-toggle="tab">
                                        Autosuggestions
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#placeholder" aria-controls="placeholder" role="tab" data-toggle="tab">
                                        Placeholders
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#fulltext" aria-controls="fulltext" role="tab" data-toggle="tab">
                                        Full-Text-Search
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#limitations" aria-controls="limitations" role="tab" data-toggle="tab">
                                        Features & Limitations
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                
                                
                                <div role="tabpanel" class="tab-pane active" id="template">
                                    The basic template of a SPARQL query as suggested by the UI initially looks like this:
                                    <br><br>
                                    <pre>SELECT [DISTINCT] [variables] WHERE {
              [subject] [predicate] [object] .
              [subject] [predicate] [object] .
            }
            LIMIT [LIMIT]
            ORDER BY [ASC|DESC]</pre>
                                    <strong>Please note the following hints:</strong>
                                    <ul>
                                        <li>You may need to add a prefix depending on your data set. If prefixes are available in your source they will be suggested by our UI automatically.</li>
                                        <li>You should end lines in where clause with dots - otherwise QLever does not know that you want to connect those two lines with an AND operation.</li>
                                        <li>DISTINCT, LIMIT and ORDER BY are optional - you don't need to add them to your query if not necessary.</li>
                                    </ul>
                                </div>
                                
                                
                                <div role="tabpanel" class="tab-pane" id="suggestion">
                                    Autosuggestions are made based on your position inside the query and the input you currently type. QLever UI evaluates the query you wrote in order to make context sensitive suggestions
                                    which leads to less but more relevant suggestions. Suggestions are usually ordered by their occurrence frequency. A small badge on the current lines indicates the amount of records that matches.
                                    <br><br>
                                    <strong>If you get no suggestions that might have different reasons:</strong>
                                    <ul>
                                        <li>There are no keywords or data points that match the word your are currently typing</li>
                                        <li>The evaluation of your existing query indicates that there will be no matches</li>
                                        <li>You have a syntax error in you query (e.g. miss a dot at the end of a line)</li>
                                        <li>Your QLever backend or your internet connection has gone away and does not respond anymore. This is usually indicated by a red cross on the line.</li>
                                    </ul>
                                </div>
                                
                                
                                <div role="tabpanel" class="tab-pane" id="placeholder">
                                    As soon as your query contains at least a standard template (as suggested by the UI) you can easily switch through placeholder positions by using the TAB key.
                                    <br><br>
                                    <pre>SELECT [PLACEHOLDER 1] WHERE {
              [PLACEHOLDER 2]
            }
            [PLACEHOLDER 3]</pre>
                                This will help you to easily navigate through your code and add lines, variables and limits / ordering without navigating with your mouse or your arrow pane.
                                </div>
                                
                                
                                <div role="tabpanel" class="tab-pane" id="fulltext">
                                    When your backend contains fulltext data (you can check in the statistics pane) you can use the fulltext search features of QLever. You can make use of them by writing a query like this:<br><br>
                                    <pre>SELECT ?person TEXT(?c) SCORE(?c) WHERE {
              ?c ql:contains-entity ?person .
              ?c ql:contains-word "land* moon"
            }
            TEXTLIMIT 2
            ORDER BY DESC(SCORE(?c))</pre>
                                    In this example <em>?person</em> represents the entity (subject) you filter for and <em>?c</em> represents the text pattern.
                                    <br><br>
                                    <strong>Note the following features:</strong>
                                    <ul>
                                        <li>A star * can be used to search for a prefix as done in the keyword walk*. Note that there is a min prefix size depending on settings at index build-time.</li>
                                        <li>SCORE can be used to obtain the score of a text match. This is important to achieve a good ordering in the result. The typical way would be to ORDER BY DESC(SCORE(?c)).</li>
                                        <li>Where ?c just matches a text record Id, TEXT(?c) can be used to extract a snippet.</li>
                                        <li>TEXTLIMIT can be used to control the number of result lines per text match. The default is 1.</li>
                                    </ul>
                                </div>
                                
                                
                                <div role="tabpanel" class="tab-pane" id="limitations">
                                    Be aware that there are some limitations when using QLever / QLever UI because we do not support the full SPARQL specification <a href="https://www.w3.org/TR/sparql11-query/">as published by the W3C</a> at the moment. Anyway there are plenty of features available already:
                                    <br><br>
                                    <strong>Features you may use:</strong>
                                    <ul>
                                        <li>PREFIX</li>
                                        <li>SELECT [DISTINCT] ... WHERE</li>
                                        <li>ORDER BY [ASC|DESC]</li>
                                        <li>GROUP BY</li>
                                        <li>LIMIT</li>
                                        <li>FILTER REGEX(?x, "[pattern]", "i")</li>
                                        <li>(COUNT(?x) AS ?count) ... </li>
                                        <li>for SAMPLE, MIN, MAX, AVG, GROUP_CONCAT(separator=", ")</li>
                                    </ul>
                                    <br>
                                    <strong>Full-text search features added by QLever:</strong>
                                    <ul>
                                        <li>ql:contains-[entity|word]</li>
                                        <li>TEXTLIMIT</li>
                                        <li>TEXT()</li>
                                        <li>SCORE()</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
    
            <!-- The error page when no backend is avialable -->
            <br><br><br>
            <div style="text-align: center">
                <i class="glyphicon glyphicon glyphicon-exclamation-sign" style="font-size: 7em;"></i>
                <br><br><br>
                <strong>You need to <a href="/admin">configure</a> a QLever backend first.</strong>
            </div>
            <br><br><br>
    
            {% endif %}
        </div>
        
        <br><br>
        <footer class="footer">
            <div class="container" style="text-align: center;">
                <span class="text-muted">
                    &copy; 2018 - 
                    <a href="http://ad-publications.informatik.uni-freiburg.de/CIKM_qlever_BB_2017.pdf">
                        QLever: SPARQL+Text Search
                    </a>
                     - Chair of algorithms and data definitions - University of Freiburg - 
                    <a href="https://github.com/ad-freiburg/QLever">
                        QLever
                    </a>: 
                    H. Bast and B. Buchhold / 
                    <a href="http://ad-publications.informatik.uni-freiburg.de/student-projects/qlever-ui/">
                        QLever UI
                    </a>: 
                    J. Bürklin and D. Kemen
               </span>
               <br><br>
            </div>
        </footer>
        
        <script>
          var BASEURL = "{{ backend.baseUrl }}";
          var subjectName = "{% autoescape off %}{{ backend.subjectName }}{% endautoescape %}";
          var predicateName = "{% autoescape off %}{{ backend.predicateName }}{% endautoescape %}";
          var objectName = "{% autoescape off %}{{ backend.objectName }}{% endautoescape %}";
          var scorePredicate = "{{ backend.scorePredicate }}";
          var collectedPrefixes = [];
          {% for prefix in prefixes %}
          collectedPrefixes.push(`{% autoescape off %}{{ prefix }}{% endautoescape %}`);
          {% endfor %}
          var examples = [];
          {% for example in examples %}
          examples.push(`{{ example.query|safe }}`);
          {% endfor %}
          
          // TODO: MOVE THIS WHOLE THING THE THE DATABASE AND MAKE IT DYNAMIC
          
          var CONTEXTS = [
                {
                    w3name: 'PrefixDecl',
                    definition: /^([\s\S]*)SELECT/g,
                },
                {
                    w3name: 'SelectClause',
                    definition: /SELECT ([\S\s]*) WHERE/g,
                },
                {
                    w3name: 'WhereClause',
                    definition: /WHERE[ ]*{([\s\S]*)}/g,
                
                },
                {
                    w3name: 'SolutionModifier',
                    definition: /\}([\s\S]+)/g,
                }
            ];
          
          var COMPLEXTYPES = [
            {
                name: 'PREFIX',
                definition: /PREFIX ([.*])/g,
                suggestions: [['PREFIX ',getPrefixSuggestions,'\n']],
                availableInContext: ['PrefixDecl','undefined'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'SELECT',
                definition: /SELECT [.*]/g,
                suggestions: [[`SELECT  WHERE {
  
}\n`]],
                availableInContext: ['PrefixDecl','undefined'],
                onlyOnce: true,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'VARIABLE',
                definition: /\?([a-zA-Z]*)/g,
                suggestions: [[function(c){ var a = []; $(getVariables(c,true)).each(function(k,v){ a.push(v+' ')}); return a;}]],
                availableInContext: ['SelectClause'],
                onlyOnce: true,
                onlyOncePerVariation: true,
                usePrefixSearch: false,
            },
            {
                name: 'COUNT_AS', 
                definition: /\(COUNT\((.*)\) as (.*)\)/g,
                suggestions: [['(COUNT(',getVariables,') as ?count) ']],
                availableInContext: ['SelectClause'],
                onlyOnce: true,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'TEXT',
                definition: /TEXT\((.*)\)/g,
                suggestions: [['TEXT(',function(c){ var a = []; $.each(getVariables(c),function(k,v){ if(getContextByName('WhereClause')['content'].indexOf(v+' ql:contains') != -1){ a.push(v); }}); return a; },') ']],
                availableInContext: ['SelectClause'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'SCORE',
                definition: /SCORE\((.*)\)/g,
                suggestions: [['SCORE(',function(c){ var a = []; $.each(getVariables(c),function(k,v){ if(getContextByName('WhereClause')['content'].indexOf(v+' ql:contains') != -1){ a.push(v); }}); return a; },') ']],
                availableInContext: ['SelectClause'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'MIN',
                definition: /\(MIN\((.*)\) as (.*)\)/g,
                suggestions: [['(MIN(',function(c){ if(getContextByName('SolutionModifier')['content'].indexOf('GROUP BY') != -1){ return getVariables(c); } else { return false; } },') as ?min) ']],
                availableInContext: ['SelectClause'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'MAX',
                definition: /\(MAX\((.*)\) as (.*)\)/g,
                suggestions: [['(MAX(',function(c){ if(getContextByName('SolutionModifier')['content'].indexOf('GROUP BY') != -1){ return getVariables(c); } else { return false; } },') as ?max) ']],
                availableInContext: ['SelectClause'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'SUM',
                definition: /\(SUM\((.*)\) as (.*)\)/g,
                suggestions: [['(SUM(',['DISTINCT ',''],function(c){ if(getContextByName('SolutionModifier')['content'].indexOf('GROUP BY') != -1){ return getVariables(c); } else { return false; } },') as ?sum) ']],
                availableInContext: ['SelectClause'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'AVG',
                definition: /\(AVG\((.*)\) as (.*)\)/g,
                suggestions: [['(AVG(',['DISTINCT ',''],function(c){ if(getContextByName('SolutionModifier')['content'].indexOf('GROUP BY') != -1){ return getVariables(c); } else { return false; } },') as ?avg) ']],
                availableInContext: ['SelectClause'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'SAMPLE',
                definition: /\(SAMPLE\((.*)\) as (.*)\)/g,
                suggestions: [['(SAMPLE(',function(c){ if(getContextByName('SolutionModifier')['content'].indexOf('GROUP BY') != -1){ return getVariables(c); } else { return false; } },') as ?sample) ']],
                availableInContext: ['SelectClause'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'COUNT',
                definition: /\(COUNT\((.*)\) as (.*)\)/g,
                suggestions: [['(COUNT(',['DISTINCT ',''],function(c){ if(getContextByName('SolutionModifier')['content'].indexOf('GROUP BY') != -1){ return getVariables(c); } else { return false; } },') as ?count) ']],
                availableInContext: ['SelectClause'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'GROUP_CONCAT',
                definition: /\(GROUP_CONCAT\((.*)\) as (.*)\)/g,
                suggestions: [['(GROUP_CONCAT(',['DISTINCT ',''],function(c){ if(getContextByName('SolutionModifier')['content'].indexOf('GROUP BY') != -1){ return getVariables(c); } else { return false; } },') as ?concat) ']],
                availableInContext: ['SelectClause'],
                onlyOnce: false,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'LIMIT',
                definition: /LIMIT ([0-9+])/g,
                suggestions: [['LIMIT ',[1,10,100,1000],'\n']],
                availableInContext: ['SolutionModifier'],
                onlyOnce: true,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'TEXTLIMIT',
                definition: /TEXTLIMIT ([0-9+])/g,
                suggestions: [['TEXTLIMIT ',[2,5,10],'\n']],
                availableInContext: ['SolutionModifier'],
                onlyOnce: true,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'ORDER BY',
                definition: /ORDER BY ((DESC|ASC)\(.*\))/g,
                suggestions: [['ORDER BY ', ['DESC(','ASC('], getVariables ,')\n']],
                availableInContext: ['SolutionModifier'],
                onlyOnce: true,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            {
                name: 'GROUP BY',
                definition: /GROUP BY (.*)/g,
                suggestions: [['GROUP BY ', getVariables,'\n']],
                availableInContext: ['SolutionModifier'],
                onlyOnce: true,
                onlyOncePerVariation: true,
                usePrefixSearch: true,
            },
            /*{
                name: 'TRIPLES',
                definition: /([.*]) ([.*]) ([.*])/g,
                classes: ['triple'],
                suggestions: [function(context){ return getVariables(context,true,false); }],['ql:contains-entitiy',['<is-a>']],['VARS',['<Astronout>']]],
                availableInContext: ['WhereClause'],
                onlyOnce: false,
                onlyOncePerVariation: false,
                usePrefixSearch: true,
            }*/
          ];
          
        </script>
    </body>
</html>
