:root {
	--switch_size: 23px;
}

/*
	
Basic HTML Elements

*/

a {
	cursor: pointer;
}

kbd {
	background-color: #82B36F !important;
}

/*
	
Custom Elements

*/

#stats {
	display: none;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: calc(var(--switch_size) * 2 - 4px);
	height: var(--switch_size);
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: calc(var(--switch_size) - 8px);
	width: calc(var(--switch_size) - 8px);
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

#main {
	margin-top: 50px;
	padding-top: 20px;
}

.alert h3,
.well h3 {
	margin-top: 0px;
}

.glyphicon,
.well h2,
.well h3,
.well h4,
.well h5,
#lastQueries a {
	color: #82B36F;
}

.btn-success .glyphicon {
	color: white;
}

.glyphicon-spin {
	-webkit-animation: spin 1000ms infinite linear;
	animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.tooltip .tooltip-inner {
	background-color: #82B36F;
	max-width: 600px;
	word-wrap: break-word;
}

.tooltip .tooltip-arrow {
	border-top-color: #82B36F !important;
	border-bottom-color: #82B36F !important;
}

.keyword-search-highlight {
	text-decoration: underline;
	text-decoration-color: #82B36F;
	text-underline-position: under;
	text-decoration-thickness: 3px;
}

.keyword-search-hover {
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

.table>tbody>tr>td:first-child {
	color: #d3d3d3;
}

th {
	color: #82B36F;
	white-space: nowrap;
}


.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
	color: white !important;
	background-color: #82B36F !important;
}

.nav-pills>li>a {
	color: #82B36F !important;
}

.d,
#help,
#helpButton {
	display: none;
}

@media (min-width: 990px) {

	.d,
	#help,
	#helpButton {
		display: inline;
	}

	#dynamicSuggestions {
		margin-top: 0px;
	}
}

.pb-1 {
	padding-bottom: 0.5em;
}

.btn-group-flex {
	display: flex;
	flex-wrap: wrap;
}

.btn-group-flex .btn {
	flex: 1;
}

.btn-group-flex .btn-group {
	flex: 1;
}

#meta-info p {
	font-size: 80%;
}

/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant {
	position: relative;
	overflow: hidden;
	padding: 0 !important;
}

.Treant>.node,
.Treant>.pseudo {
	position: absolute;
	display: block;
	visibility: hidden;
}

.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo {
	visibility: visible;
}

.Treant>.pseudo {
	width: 0;
	height: 0;
	border: none;
	padding: 0;
}

.Treant .collapse-switch {
	width: 3px;
	height: 3px;
	display: block;
	border: 1px solid black;
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}

.Treant .collapsed .collapse-switch {
	background-color: #868DEE;
}

.Treant>.node img {
	border: none;
	float: left;
}


#result-tree .node {
	padding: 3px;
	border-radius: 3px;
	background-color: #FEFEFE;
	border: 1px solid #000;
	min-width: 25em;
	font-size: 80%;
	color: black;
}

#result-tree .node>p {
	margin: 0;
	white-space: nowrap;
}

#result-tree .node-name {
	font-weight: bold;
}

#result-tree p.node-name {
	width: 30em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#result-tree .node-status {
	font-size: 90%;
	color: #000099;
}

#result-tree .node.not-started {
	color: #999;
}

#result-tree p.fully-materialized {
	display: none;
}

#result-tree p.lazily-materialized {
	display: none;
}

#result-tree .node-status.failed {
	font-weight: bold;
	color: red;
}

#result-tree .node-status.child-failed {
	color: red;
}

#result-tree .node-status.not-started {
	color: blue;
}

#result-tree .node-status.optimized-out {
	color: blue;
}

#result-tree .node-status.lazily-materialized {
	color: blue;
}

#result-tree .node-cols:before {
	content: "Cols: ";
}

#result-tree p.node-cols {
	width: 30em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#result-tree .node-size:before {
	content: "Size: ";
}

#result-tree .node-size {
	display: inline;
}

#result-tree .node-size-estimate {
	display: inline;
	padding-left: 1em;
}

#result-tree .node-time:before {
	content: "\ATime: ";
	white-space: pre;
}

#result-tree .node-time {
	display: inline;
}

#result-tree .node-cost-estimate {
	display: inline;
	padding-left: 1em;
}

#result-tree .node-status {
	display: inline;
	padding-left: 1em;
}

#result-tree .node-time:after {
	content: "ms";
}

#result-tree .node-details {
	display: none;
	color: blue;
}

#result-tree .node-details:before {
	content: "Details: "
}

#result-tree div.cached-not-pinned .node-time:after {
	content: "ms [cached]";
}

#result-tree div.cached-pinned .node-time:after {
	content: "ms [cached, pinned]";
}

#result-tree div.ancestor-cached .node-time:after {
	content: "ms [ancestor cached]";
}

#result-tree p.node-cache-status {
	display: none;
}

#result-tree .node.cached-pinned {
	color: grey;
	border: 1px solid grey;
}

#result-tree .node.cached-not-pinned {
	color: grey;
	border: 1px solid grey;
}

#result-tree .node-total {
	display: none;
}

#result-tree .node.high {
	background-color: #FFEEEE;
}

#result-tree .node.veryhigh {
	background-color: #FFCCCC;
}

#result-tree .node.high.cached {
	background-color: #FFFFEE;
}

#result-tree .node.veryhigh.cached {
	background-color: #FFFFCC;
}
